/* *{
    color: blue;
} */

header{
    background-color: #f0ebeb;
}

section.my-articles{
    background-color: #f2e9e9;
}

header p{
    color: red;
}

li a{
    color: red;
}

/* section.my-articles h2{
    color: green;
} */

section.my-articles > h2{
    color:green ;
}

section.my-articles h2+p{
    color:orangered;
}


ul+p{
    color: green;
}
