/* a{
    border: 2px solid #444;
    margin: 50px;
    padding: 50px;
    height: 100px;
    width: 100px;
} */

a{
    display: inline-block;
    border: 2px solid #444;
    margin: 20px;
    padding: 20px;
    width: 150px;
    height: 100px;
}

