.green{
    color:rgb(18, 117, 18);
}

.mac{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg{
    background-color: #cdcdcd;
}

span{
    background-color:rgb(40, 130, 172);
}